<link href="/assets/css/examples.css" rel="stylesheet"/>
<div class="home-background">
  <div class="filter-black"></div>
  <div class="container">
    <div class="row-changeData">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div id="changeData" class="changeData-card">
          <h3 class="title">Your Information</h3>
          <div id="changeData">
            <div class="alert alert-danger" id="error"></div>
            <div class="alert alert-success" id="success"></div>
              <table>
                <tr>
                  <td><label><%= thisUser[0].firstName %></label>&#160&#160</td>
                  <td><label><%= thisUser[0].lastName %></label></td>
                </tr>
                <tr>
                  <td><label>Username: </label></td>
                  <td><label><%= thisUser[0].username %></label></td>
                </tr>
                <tr>
                  <td><label>Email: </label></td>
                  <td><label><%= thisUser[0].email %></label></td>
                </tr>
              </table>
          </div>
          <div id="forgotPass">
            <form class="forgotPass-form" role="form" action="/changePasswordNow?idem=<%= thisUser[0].id%>" method="post">
              <table>
                <tr>
                  <td>&#160;&#160;&#160;</td>
                </tr>
                <tr>
                  <td><input type="password" class="form-control" placeholder="Password" name="password"></td>
                  <td>&#160;&#160;&#160;</td>
                  <td><input type="password" class="form-control" placeholder="Retype Password" name="passwordConfirm">

                  </td>
                </tr>
                <tr>
                  <td>
                    <button name="forgotPass" class="btn btn-fill btn-danger btn-block">Change Password</button>
                    <input style="visibility: hidden;" type="text" name="id" value="<%= thisUser[0].id%>">
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="main-footer" class="footer-demo section-dark">
  <div class="container">
    <nav class="pull-left">
      <ul>

        <li>
          <a href="#">
            PM102
          </a>
        </li>
        <li>
          <a href="#">
            An Advanced Application Programming Project
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; 2016, made for PM102
    </div>
  </div>
</footer>
